
<!--<div *ngIf="hero">

    <h2>Detalles {{hero.name | uppercase}}</h2>
    <div><span>Id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Nombre</label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Nombre">
    </div>
  
  </div>-->

  <div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Detalles</h2>
    <div><span>Id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Nombre Heroe: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Nombre Heroe"/>
    </div>
    <div><label>Teléfono: </label>{{hero.telefono}}</div> <!-- Mostrando el teléfono -->
    <button type="button" (click)="goBack()">Atras</button>
  </div>